          
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-seri;
}
 
::-webkit-scrollbar {
  display: none;
}

html{
  font-size: 12px;
}

@media (max-width: 564px) {
  html{
    font-size: 6px;
  }
}

@media (min-width: 481px) and (max-width: 2560px) {
  html{
      font-size: 10px;
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


